
@media(max-width: 767px){
    @for $i from 1 through 2 {
        .col-xs-#{$i} {
            flex: 0 0 percentage($i/2);
            max-width: 0 0 percentage($i/2);
        }
    }
}
@media(min-width: 768px){
    @for $i from 1 through 10 {
        .col-sm-#{$i} {
            flex: 0 0 percentage($i/10);
            max-width: 0 0 percentage($i/10);
        }
    }
}

@media(min-width: 1024px){
    @for $i from 1 through 12 {
        .col-md-#{$i} {
            flex: 0 0 percentage($i/12);
            max-width: 0 0 percentage($i/12);
        }
    }
}

.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.col-xs-1 {
    flex: 0 0 50%;
    max-width: 50%;
}