@import "./grid";

$conteiner-sm: 720px;
$conteiner-md: 1004px;
$conteiner-lg: 1170px;
$montserrat: 'Montserrat',
sans-serif;
$open-sans: 'Open Sans',
sans-serif;

* {
    box-sizing: border-box;
}

body {
    font-family: $open-sans;
}

.conteiner {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row,
.column {
    margin-right: -15px;
    margin-left: -15px;
    display: flex;

}

.row {
    flex-direction: row;
}

[class*='col-'] {
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    display: flex;
    margin: 40px 0;
    position: sticky;
}

.menu {
    font-family: $montserrat;
    display: flex;
    justify-content: flex-end;
}

.desktop-menu {
    &>ul {
        display: flex;
        justify-content: space-between;

        &>li {
            padding: 0 7px;

            &:hover {
                &>a::after {
                    opacity: 1;
                    top: -10px;
                    transition: all .2s ease-in-out;
                }
            }

            &>a {
                height: 30px;
                position: relative;
                display: block;
                color: #60606e;
                font-size: 12px;
                text-decoration: none;
                text-transform: uppercase;

                &::after {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    height: 1px;
                    width: 50%;
                    background-color: #60606e;
                    content: "";
                    opacity: 0;
                    transition: all .2s ease-in-out;
                }

            }
        }
    }

}

.first-level {
    position: relative;
    display: block;

    &:hover{
        .second-level {
            display: block;
        }
    }

    .second-level {
        display: none;
        background-color: #60606e;
        position: absolute;
        width: 200px;
        top: 30px;

        .second-level-dark {
            background-color: #585866;
        }

        li{
            padding: 12px 20px;
            &:hover{
                background-color: #404051;
            }

        }

        a {
            color: white;
            font-size: 12px;
            text-decoration: none;
            text-transform: uppercase;
        }

    }
}

.mobile-nav {
    display: none;

    &:hover {
        .menu-icon .line {
            width: 30px;
        }

        .mobile-menu {
            opacity: 1;
            pointer-events: all;
            transition: 1s;
        }
    }
}

.mobile-menu {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    background-color: #60606e;
    z-index: 200;
    text-transform: uppercase;
    top: 50px;
    left: 0px;
    width: 100%;
    justify-content: center;

    a {
        color: white;
        text-decoration: none;
        display: flex;
        justify-content: center;
        padding: 15px 0;
        font-size: 12px;
    }
}


.menu-icon {
    .line:first-child {
        width: 30px;
    }

    .line:nth-child(2) {
        margin: 7px 0;
        width: 15px;
    }

    .line:last-child {
        width: 25px;
    }

}

.line {
    height: 1px;
    background-color: #60606e;
    transition: all .2s ease-in-out;
}

@media(max-width: 1023px) {
    .mobile-nav {
        display: block;
    }

    .desktop-menu {
        display: none;
    }
}

@media(min-width: 768px) {
    .conteiner {
        width: $conteiner-sm;
    }
}

@media(min-width: 1024px) {
    .conteiner {
        width: $conteiner-md;
    }
}

@media(min-width: 1200px) {
    .conteiner {
        width: $conteiner-lg;
    }

    .desktop-menu {
        ul {
            li {
                padding: 0 10px;
            }
        }

    }
}