.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-xs-1 {
  flex: 0 0 50%;
  max-width: 50%;
}

@media (max-width: 767px) {
  .col-xs-1 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xs-2 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .col-sm-1 {
    flex: 0 0 10%;
    max-width: 10%;
  }

  .col-sm-2 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .col-sm-3 {
    flex: 0 0 30%;
    max-width: 30%;
  }

  .col-sm-4 {
    flex: 0 0 40%;
    max-width: 40%;
  }

  .col-sm-5 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-6 {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .col-sm-7 {
    flex: 0 0 70%;
    max-width: 70%;
  }

  .col-sm-8 {
    flex: 0 0 80%;
    max-width: 80%;
  }

  .col-sm-9 {
    flex: 0 0 90%;
    max-width: 90%;
  }

  .col-sm-10 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1024px) {
  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.conteiner {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row,
.column {
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-direction: column;
}

[class*=col-] {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background-color: #585866;
  display: flex;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 200;
}
.header .row {
  flex-direction: row;
}

.logo {
  padding: 15px 0;
  font-family: "Montserrat", sans-serif;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 18px;
}

.menu {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.desktop-menu > ul {
  display: flex;
  justify-content: space-between;
}
.desktop-menu > ul > li {
  padding: 0 7px;
}
.desktop-menu > ul > li:hover > a::after {
  opacity: 1;
  top: 5px;
  transition: all 0.2s ease-in-out;
}
.desktop-menu > ul > li > a {
  padding: 15px 0;
  position: relative;
  display: block;
  color: whitesmoke;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}
.desktop-menu > ul > li > a::after {
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 50%;
  background-color: whitesmoke;
  content: "";
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.desktop-menu .first-level {
  position: relative;
  display: block;
}
.desktop-menu .first-level:hover .second-level {
  display: block;
}
.desktop-menu .first-level .second-level {
  display: none;
  position: absolute;
  width: 200px;
  top: 30px;
}
.desktop-menu .first-level .second-level .second-level-dark {
  background-color: #585866;
}
.desktop-menu .first-level .second-level li {
  background-color: #60606e;
  padding: 12px 20px;
  transition: all 0.2s ease-in-out;
}
.desktop-menu .first-level .second-level li:hover {
  background-color: #404051;
}
.desktop-menu .first-level .second-level a {
  color: white;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

.mobile-nav {
  display: none;
}
.mobile-nav:hover .menu-icon .line {
  width: 30px;
}
.mobile-nav:hover .mobile-menu {
  opacity: 1;
  pointer-events: all;
  transition: 1s;
}

.mobile-menu {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  background-color: #60606e;
  z-index: 200;
  text-transform: uppercase;
  top: 65px;
  left: 0px;
  width: 100%;
  justify-content: center;
}
.mobile-menu li:hover {
  background-color: #404051;
}
.mobile-menu li:hover .second-level {
  display: block;
}
.mobile-menu li a {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  font-size: 12px;
}
.mobile-menu .second-level {
  display: none;
  background-color: #50505f;
}

.menu-icon {
  padding-top: 15px;
}
.menu-icon .line:first-child {
  width: 30px;
}
.menu-icon .line:nth-child(2) {
  margin: 7px 0;
  width: 15px;
}
.menu-icon .line:last-child {
  width: 25px;
}

.line {
  height: 1px;
  background-color: whitesmoke;
  transition: all 0.2s ease-in-out;
}

.slider {
  position: relative;
  height: 850px;
  background: url(images/slider.png) no-repeat;
  background-size: cover;
}

.slider-info {
  height: 750px;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.slider-info .small-title {
  padding: 10px 20px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  color: #60606e;
  background-color: #7beec7;
}
.slider-info .big-title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #60606e;
  font-size: 38px;
  border: #60606e solid 10px;
  padding: 10px 20px;
  text-align: center;
  line-height: 50px;
}
.slider-info p {
  text-align: center;
  padding-top: 30px;
}

.text {
  color: #60606e;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
}

.button {
  color: white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #7beec7;
  padding: 20px 40px;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.slider-dots {
  margin-top: 40px;
  text-align: center;
}

.slider-dots_item {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #60606e;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
  background-color: #404051;
}

.history-img {
  margin: 30px 0;
  width: 100%;
  align-self: center;
}

.history-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.history-info .button {
  align-self: flex-end;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title-text {
  position: relative;
  z-index: 100;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #60606e;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-text::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 70px;
  height: 20px;
  background-color: #7beec7;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .title {
    max-width: 300px;
  }
}
@media (max-width: 1023px) {
  .mobile-nav {
    display: block;
  }

  .desktop-menu {
    display: none;
  }
}
@media (min-width: 768px) {
  .conteiner {
    width: 720px;
  }

  .row {
    flex-direction: row;
  }

  .title-text::after {
    margin-bottom: -20px;
    left: 2px;
  }

  .history {
    position: relative;
    z-index: 120;
    margin-top: -240px;
  }
  .history .history-img {
    position: relative;
    top: 25%;
    transform: translateY(-25%);
  }
}
@media (min-width: 1024px) {
  .conteiner {
    width: 1004px;
  }

  .history {
    margin-top: -320px;
  }
}
@media (min-width: 1200px) {
  .conteiner {
    width: 1170px;
  }

  .desktop-menu ul li {
    padding: 0 10px;
  }
}

/*# sourceMappingURL=style.css.map */
