@import "./grid";
@import "./variables";

* {
    box-sizing: border-box;
}

body {
    font-family: $open-sans;
}

.conteiner {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row,
.column {
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-direction: column;
}

[class*='col-'] {
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    background-color: $light-dark-grey;
    display: flex;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 200;

    .row {
        flex-direction: row;
    }
}

.logo {
    padding: 15px 0;
    font-family: $montserrat;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 18px;
}

.menu {
    font-family: $montserrat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.desktop-menu {
    &>ul {
        display: flex;
        justify-content: space-between;

        &>li {
            padding: 0 7px;

            &:hover {
                &>a::after {
                    opacity: 1;
                    top: 5px;
                    transition: all .2s ease-in-out;
                }
            }

            &>a {
                padding: 15px 0;
                position: relative;
                display: block;
                color: whitesmoke;
                font-size: 12px;
                text-decoration: none;
                text-transform: uppercase;

                &::after {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    height: 1px;
                    width: 50%;
                    background-color: whitesmoke;
                    content: "";
                    opacity: 0;
                    transition: all .2s ease-in-out;
                }

            }
        }
    }

    .first-level {
        position: relative;
        display: block;

        &:hover {
            .second-level {
                display: block;
            }
        }

        .second-level {
            display: none;

            position: absolute;
            width: 200px;
            top: 30px;

            .second-level-dark {
                background-color: $light-dark-grey;
            }

            li {
                background-color: $grey;
                padding: 12px 20px;
                transition: all .2s ease-in-out;

                &:hover {
                    background-color: $dark-grey;
                }

            }

            a {
                color: white;
                font-size: 12px;
                text-decoration: none;
                text-transform: uppercase;
            }

        }
    }

}

.mobile-nav {
    display: none;

    &:hover {
        .menu-icon .line {
            width: 30px;
        }

        .mobile-menu {
            opacity: 1;
            pointer-events: all;
            transition: 1s;
        }
    }
}

.mobile-menu {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    background-color: $grey;
    z-index: 200;
    text-transform: uppercase;
    top: 65px;
    left: 0px;
    width: 100%;
    justify-content: center;

    li {
        &:hover {
            background-color: $dark-grey;

            .second-level {
                display: block;
            }
        }

        a {
            color: white;
            text-decoration: none;
            display: flex;
            justify-content: center;
            padding: 15px 0;
            font-size: 12px;
        }
    }


    .second-level {
        display: none;
        background-color: #50505f;
    }
}


.menu-icon {
    padding-top: 15px;

    .line:first-child {
        width: 30px;
    }

    .line:nth-child(2) {
        margin: 7px 0;
        width: 15px;
    }

    .line:last-child {
        width: 25px;
    }

}

.line {
    height: 1px;
    background-color: whitesmoke;
    transition: all .2s ease-in-out;
}

.slider {
    position: relative;
    height: 850px;
    background: url(images/slider.png) no-repeat;
    background-size: cover;

}

.slider-info {
    height: 750px;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .small-title {
        padding: 10px 20px;
        font-family: $montserrat;
        text-transform: uppercase;
        font-size: 18px;
        color: $grey;
        background-color: $turquoise;
    }

    .big-title {
        font-family: $montserrat;
        text-transform: uppercase;
        color: $grey;
        font-size: 38px;
        border: $grey solid 10px;
        padding: 10px 20px;
        text-align: center;
        line-height: 50px;
    }

    p {
        text-align: center;
        padding-top: 30px;
    }

}

.text {
    color: $grey;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
}

.button {
    color: white;
    font-family: $montserrat;
    text-transform: uppercase;
    font-size: 14px;
    background-color: $turquoise;
    padding: 20px 40px;
    transition: all .2s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale(1.01);
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }
}

.slider-dots {
    margin-top: 40px;
    text-align: center;
}

.slider-dots_item {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: $grey;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
    background-color: $dark-grey;
}

.history-img {
    margin: 30px 0;
    width: 100%;
    align-self: center;
}

.history-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .button{
        align-self: flex-end;
    }
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title-text {
    position: relative;
    z-index: 100;
    font-size: 30px;
    font-family: $montserrat;
    color: $grey;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-text::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 70px;
    height: 20px;
    background-color: $turquoise;
    margin-bottom: 20px;
}

@media(max-width: 767px){
   .title{
        max-width: 300px;
    } 
}

@media(max-width: 1023px) {
    .mobile-nav {
        display: block;
    }

    .desktop-menu {
        display: none;
    }
    
}

@media(min-width: 768px) {
    .conteiner {
        width: $conteiner-sm;
    }

    .row {
        flex-direction: row;
    }

    .title-text{
        &::after{
            margin-bottom: -20px;
            left: 2px;
        }
    }


    .history{
        position: relative;
        z-index: 120;
        margin-top: -240px;
        .history-img{
            position: relative;
            top: 25%;
            transform: translateY(-25%);
        }
    }

}

@media(min-width: 1024px) {
    .conteiner {
        width: $conteiner-md;
    }

    .history{
        margin-top: -320px;
    }

}

@media(min-width: 1200px) {
    .conteiner {
        width: $conteiner-lg;
    }

    .desktop-menu {
        ul {
            li {
                padding: 0 10px;
            }
        }

    }
}