$conteiner-sm: 720px;
$conteiner-md: 1004px;
$conteiner-lg: 1170px;
$light-dark-grey:#585866;
$grey:#60606e;
$dark-grey:#404051;
$light-gray:#999999;
$very-light-gray: #cdcdcd;
$turquoise:#7beec7;
$montserrat: 'Montserrat',
sans-serif;
$open-sans: 'Open Sans',
sans-serif;