@import "./variables";

.what-we-do{
    padding: 50px 0;
    .title{
        margin-bottom: 40px;
    }
}

.what-we-do-info{
    &>.text{
        margin-bottom: 30px;
    }
}

.what-we-do-info-items{
    div::before{
        content:url("images/what-we-do-icon.png");
        margin-right: 10px;
    }
}

.what-we-do-img{
    height: 100%;
    display: flex;
    align-items: center;
    img{
       width: 100%;  
    }
}

.services-benefits-img{
    text-align: center;
}

.services-benefits-title{
    text-transform: uppercase;
    font-family: $montserrat;
    font-size: 18px;
    text-align: center;
    color: $grey;
}

@media(max-width: 767px){
    .what-we-do-info{
        .what-we-do-info-items:last-child{
            .text:last-child{
                margin-bottom: 40px;
            }
        }
    }
}

@media(max-width: 1023px){
    .services-benefits{
        .row{
            flex-wrap: wrap;
        }
    }
}

@media(min-width: 768px){
    .what-we-do-info{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &>.text{
            margin-bottom: 50px;
        }
        .text{
            text-align: left;

        }
    }
}

@media(min-width: 1024px){
    .what-we-do{
        padding: 150px 0;
        .title{
            margin-bottom: 100px;
        }
    }
}