.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-xs-1 {
  flex: 0 0 50%;
  max-width: 50%;
}

@media (max-width: 767px) {
  .col-xs-1 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xs-2 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .col-sm-1 {
    flex: 0 0 10%;
    max-width: 10%;
  }

  .col-sm-2 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .col-sm-3 {
    flex: 0 0 30%;
    max-width: 30%;
  }

  .col-sm-4 {
    flex: 0 0 40%;
    max-width: 40%;
  }

  .col-sm-5 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-6 {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .col-sm-7 {
    flex: 0 0 70%;
    max-width: 70%;
  }

  .col-sm-8 {
    flex: 0 0 80%;
    max-width: 80%;
  }

  .col-sm-9 {
    flex: 0 0 90%;
    max-width: 90%;
  }

  .col-sm-10 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1024px) {
  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.conteiner {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row,
.column {
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-direction: column;
}

[class*=col-] {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background-color: #585866;
  display: flex;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 200;
}
.header .row {
  flex-direction: row;
}

.logo {
  padding: 15px 0;
  font-family: "Montserrat", sans-serif;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 18px;
}

.menu-items {
  font-family: "Montserrat", sans-serif;
}
.menu-items > li {
  padding: 0 7px;
}
.menu-items > li > a {
  padding: 15px 0;
  position: relative;
  display: block;
  color: whitesmoke;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}
.menu-items .first-level {
  position: relative;
  display: block;
}
.menu-items .first-level .second-level .second-level-dark {
  background-color: #585866;
}
.menu-items .first-level .second-level li {
  background-color: #60606e;
  padding: 12px 20px;
  transition: all 0.2s ease-in-out;
}
.menu-items .first-level .second-level li:hover {
  background-color: #404051;
}
.menu-items .first-level .second-level a {
  color: white;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

.page-info {
  height: 400px;
  background: url(images/page-info.png) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.page-info .page-info-title {
  color: #60606e;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 0;
}
.page-info .page-info-map {
  color: #60606e;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 0;
}

.text {
  color: #60606e;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
}

.button {
  color: white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #7beec7;
  padding: 20px 40px;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title-text {
  position: relative;
  z-index: 100;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #60606e;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
  display: flex;
  justify-content: center;
}

.title-text::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 70px;
  height: 20px;
  background-color: #7beec7;
  margin-top: 20px;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.newletter {
  text-align: center;
  padding: 50px 0;
  background-color: #7beec7;
}
.newletter .newletter-title {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.newletter .newletter-together .newletter-title {
  color: white;
  font-size: 25px;
  margin-bottom: 30px;
}
.newletter .newletter-together .button {
  background-color: white;
  color: #7beec7;
}
.newletter .newletter-form {
  margin-top: 30px;
  padding: 20px;
  background-color: white;
}
.newletter .newletter-form .newletter-title {
  color: #60606e;
  size: 20px;
}
.newletter .newletter-form .text {
  margin-top: 10px;
  line-height: 20px;
  color: #cdcdcd;
}
.newletter .newletter-form .email {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
.newletter .newletter-form .button {
  flex-basis: 140px;
  padding: 15px 0;
  flex-shrink: 2;
}
.newletter .newletter-form .email-input {
  flex-basis: 370px;
  flex-shrink: 2;
  color: #cdcdcd;
  border: 1px solid #cdcdcd;
  text-transform: uppercase;
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.newletter .newletter-form .email-input::placeholder {
  color: #cdcdcd;
}

.footer .footer-text {
  padding: 25px 0;
  text-transform: uppercase;
  font-size: 14px;
  color: #999999;
}
.footer .footer-icons {
  padding: 20px 0;
  margin-top: 15px;
}
.footer .footer-icons form {
  text-align: center;
}
.footer .footer-icons form button {
  background-color: white;
  padding: 5px;
}
.footer .footer-icons i {
  background-color: white;
  color: #999999;
}

@media (max-width: 767px) {
  .title {
    max-width: 300px;
  }
}
@media (max-width: 1023px) {
  .nav-mobile-menu {
    width: 30px;
    height: 20px;
    position: relative;
  }
  .nav-mobile-menu span {
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    transition: 0.25s ease-in-out;
  }
  .nav-mobile-menu span:first-child {
    top: 0;
    width: 30px;
  }
  .nav-mobile-menu span:nth-child(2) {
    top: calc(50% - 1px);
    width: 15px;
  }
  .nav-mobile-menu span:last-child {
    bottom: 0;
    width: 25px;
  }

  .navigation {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60%;
    max-width: 250px;
    transition: all 500ms ease-in-out;
    transform: translateX(150%);
  }

  .hidden-menu {
    visibility: hidden;
    opacity: 0;
  }

  .header-row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-mobile-menu.active-menu span:nth-child(2) {
    width: 30px;
  }

  .nav-mobile-menu.active-menu span:nth-child(3) {
    width: 30px;
  }

  .navigation.active-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    top: 55px;
    background-color: #60606e;
  }

  .menu-items li {
    width: 100%;
    text-align: center;
  }
  .menu-items .first-level .second-level {
    margin: 0 -7px;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height 0.4s ease;
    -moz-transition: max-height 0.4s ease;
    transition: max-height 2s ease;
  }
  .menu-items .first-level .second-level li {
    background-color: #585866;
  }
  .menu-items .second-level.active-menu {
    max-height: 500px;
  }
}
@media (min-width: 768px) {
  .conteiner {
    width: 720px;
  }

  .row {
    flex-direction: row;
  }

  .title-text::after {
    margin-bottom: -20px;
    left: 2px;
  }

  .newletter .newletter-together {
    text-align: left;
  }
  .newletter .newletter-together .newletter-title {
    font-size: 30px;
  }
  .newletter .newletter-together .button {
    padding: 0;
    width: 165px;
    height: 50px;
  }
  .newletter .newletter-form {
    margin: 0;
  }
  .newletter .newletter-form .newletter-title {
    text-align: left;
    font-size: 24px;
  }
  .newletter .newletter-form .text {
    text-align: left;
  }
  .newletter .newletter-form .email {
    padding-top: 30px;
  }
  .newletter .newletter-form .button {
    height: 50px;
  }

  .footer .footer-icons {
    margin: 0;
  }
  .footer .footer-icons form {
    text-align: right;
  }
}
@media (min-width: 1024px) {
  .conteiner {
    width: 1004px;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .menu-items {
    display: flex;
  }
  .menu-items li {
    padding: 0 9px;
  }
  .menu-items li:hover > a::after {
    opacity: 1;
    top: 5px;
    transition: all 0.2s ease-in-out;
  }
  .menu-items li a::after {
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 50%;
    background-color: whitesmoke;
    content: "";
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  .menu-items .first-level:hover .second-level {
    display: block;
  }
  .menu-items .second-level {
    display: none;
    position: absolute;
    width: 160px;
    top: 30px;
  }
  .menu-items .second-level a::after {
    content: none;
  }
}
@media (min-width: 1200px) {
  .conteiner {
    width: 1170px;
  }

  .menu-items li {
    padding: 0 12px;
  }
}

/*# sourceMappingURL=style.css.map */
