@import "./grid";
@import "./variables";

* {
    box-sizing: border-box;
}

body {
    font-family: $open-sans;
}

.conteiner {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row,
.column {
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-direction: column;
}

[class*='col-'] {
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    background-color: $light-dark-grey;
    display: flex;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 200;

    .row {
        flex-direction: row;
    }
}

.logo {
    padding: 15px 0;
    font-family: $montserrat;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 18px;
}

.menu-items {
    font-family: $montserrat;

    &>li {
        padding: 0 7px;

        &>a {
            padding: 15px 0;
            position: relative;
            display: block;
            color: whitesmoke;
            font-size: 12px;
            text-decoration: none;
            text-transform: uppercase;
        }
    }

    .first-level {
        position: relative;
        display: block;

        .second-level {
            .second-level-dark {
                background-color: $light-dark-grey;
            }

            li {
                background-color: $grey;
                padding: 12px 20px;
                transition: all .2s ease-in-out;

                &:hover {
                    background-color: $dark-grey;
                }

            }

            a {
                color: white;
                font-size: 12px;
                text-decoration: none;
                text-transform: uppercase;
            }

        }
    }

}

.page-info {
    height: 400px;
    background: url(images/page-info.png) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    .page-info-title {
        color: $grey;
        font-family: $montserrat;
        font-size: 35px;
        text-align: center;
        text-transform: uppercase;
        padding: 15px 0;
    }

    .page-info-map {
        color: $grey;
        font-family: $montserrat;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        padding: 15px 0;
    }
}

.text {
    color: $grey;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
}

.button {
    color: white;
    font-family: $montserrat;
    text-transform: uppercase;
    font-size: 14px;
    background-color: $turquoise;
    padding: 20px 40px;
    transition: all .2s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale(1.01);
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title-text {
    position: relative;
    z-index: 100;
    font-size: 30px;
    font-family: $montserrat;
    color: $grey;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
    display: flex;
    justify-content: center;

}

.title-text::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 70px;
    height: 20px;
    background-color: $turquoise;
    margin-top: 20px;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.newletter {
    text-align: center;
    padding: 50px 0;
    background-color: $turquoise;

    .newletter-title {
        text-transform: uppercase;
        font-family: $montserrat;
    }

    .newletter-together {
        .newletter-title {
            color: white;
            font-size: 25px;
            margin-bottom: 30px;
        }

        .button {
            background-color: white;
            color: $turquoise;
        }
    }

    .newletter-form {
        margin-top: 30px;
        padding: 20px;
        background-color: white;

        .newletter-title {
            color: $grey;
            size: 20px;
        }

        .text {
            margin-top: 10px;
            line-height: 20px;
            color: $very-light-gray;
        }

        .email {
            padding-top: 10px;
            display: flex;
            justify-content: center;
        }

        .button {
            flex-basis: 140px;
            padding: 15px 0;
            flex-shrink: 2;
        }

        .email-input {
            flex-basis: 370px;
            flex-shrink: 2;
            color: $very-light-gray;
            border: 1px solid $very-light-gray;
            text-transform: uppercase;
            padding-left: 20px;
            font-family: $montserrat;
            font-size: 14px;

            &::placeholder {
                color: $very-light-gray;
            }
        }
    }

}

.social-network-icons {
    padding: 20px 0;
    margin-top: 15px;

    form {
        text-align: center;

        button {
            background-color: white;
            padding: 5px;
        }
    }

    i {
        background-color: white;
        color: $light-gray;
    }
}

.footer {
    .footer-text {
        padding: 25px 0;
        text-transform: uppercase;
        font-size: 14px;
        color: $light-gray;
    }

}

@media(max-width: 767px) {
    .title {
        max-width: 300px;
    }
}

@media(max-width: 1023px) {
    .nav-mobile-menu {
        width: 30px;
        height: 20px;
        position: relative;

        span {
            height: 1px;
            background-color: #fff;
            position: absolute;
            left: 0;
            right: 0;
            transition: .25s ease-in-out;
        }

        span:first-child {
            top: 0;
            width: 30px;
        }

        span:nth-child(2) {
            top: calc(50% - 1px);
            width: 15px;
        }

        span:last-child {
            bottom: 0;
            width: 25px;
        }
    }

    .navigation {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 60%;
        max-width: 250px;
        transition: all 500ms ease-in-out;
        transform: translateX(150%);
    }

    .hidden-menu {
        visibility: hidden;
        opacity: 0;
    }

    .header-row {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-mobile-menu.active-menu span:nth-child(2) {
        width: 30px;
    }

    .nav-mobile-menu.active-menu span:nth-child(3) {
        width: 30px;
    }

    .navigation.active-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        top: 55px;
        background-color: $grey;
    }

    .menu-items {
        li {
            width: 100%;
            text-align: center;
        }

        .first-level {
            .second-level {
                margin: 0 -7px;
                max-height: 0px;
                overflow: hidden;
                -webkit-transition: max-height 0.4s ease;
                -moz-transition: max-height 0.4s ease;
                transition: max-height 2s ease;

                li {
                    background-color: $light-dark-grey;
                }
            }
        }

        .second-level.active-menu {
            max-height: 500px;
        }
    }
}

@media(min-width: 768px) {
    .conteiner {
        width: $conteiner-sm;
    }

    .row {
        flex-direction: row;
    }

    .title-text {
        &::after {
            margin-bottom: -20px;
            left: 2px;
        }
    }

    .newletter {
        .newletter-together {
            text-align: left;

            .newletter-title {
                font-size: 30px;

            }

            .button {
                padding: 0;
                width: 165px;
                height: 50px;
            }
        }

        .newletter-form {
            margin: 0;

            .newletter-title {
                text-align: left;
                font-size: 24px;
            }

            .text {
                text-align: left;
            }

            .email {
                padding-top: 30px;
            }

            .button {
                height: 50px;
            }
        }
    }

    .social-network-icons {
        margin: 0;

        form {
            text-align: right;
        }
    }


}

@media(min-width: 1024px) {
    .conteiner {
        width: $conteiner-md;
    }

    .menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .menu-items {
        display: flex;

        & li {
            padding: 0 9px;

            &:hover {
                &>a::after {
                    opacity: 1;
                    top: 5px;
                    transition: all .2s ease-in-out;
                }

            }

            a::after {
                position: absolute;
                top: 50%;
                left: 0;
                height: 1px;
                width: 50%;
                background-color: whitesmoke;
                content: "";
                opacity: 0;
                transition: all .2s ease-in-out;
            }
        }

        .first-level {
            &:hover {
                .second-level {
                    display: block;
                }
            }
        }

        .second-level {
            display: none;
            position: absolute;
            width: 160px;
            top: 30px;

            a::after {
                content: none;
            }
        }
    }
}

@media(min-width: 1200px) {
    .conteiner {
        width: $conteiner-lg;
    }

    .menu-items {
        li {
            padding: 0 12px;
        }
    }
}